/***********************CSS Reset************************/
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
    }
    /*
    2. Remove default margin
    */
    * {
    margin: 0;
    }
    /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
    */
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    }
    /*
    5. Improve media defaults
    */
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    /*
    6. Remove built-in form typography styles
    */
    input, button, textarea, select {
    font: inherit;
    }
    /*
    7. Avoid text overflows
    */
    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
    /*
    8. Create a root stacking context
    */
    #root, #__next {
    isolation: isolate;
    }
    
    
    /*********************Body Styling**********************/
    body {
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    /*********************Main Styling******************/
    main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #main-container {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        width: 600px;
        box-shadow: 0px 0px 1px 1px grey;
    }
    
    /*****Result Container********/
    #result-container {
        background-color: hsl(234, 85%, 45%);
        background: linear-gradient(90deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 30px 0;
        width: 50%;
    }
    
    #result-container > * {
        margin: auto;
        text-align: center;
        width: 75%;
    }
    
    #result-container h1 {
        font-size: 14px;
        font-weight: 500;
        color: hsl(241, 100%, 89%);
    }
    
    #result-container h3 {
        color: hsl(0, 0%, 100%);
    }
    
    #comment {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    
    #comment p {
        color: hsl(241, 100%, 89%);
        font-size: 13px;
        font-weight: 500;
    }
    
    #total {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        margin: auto;
        padding: 20px;
    }
    
    #total h2 {
        color: hsl(0, 0%, 100%);
        font-size: 50px;
    }
    
    #comment h3 {
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 18px;
    }
    
    #total p {
        display: block;
        font-size: 14px;
        color:hsl(241, 100%, 89%);
        margin-top: -10px;
    }
    
    /***********Summary Container***************/
    #summary-container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: 50%;
    }
    
    #summary-container h4 {
        font-size: 14px;
        font-weight: 700;
        color: hsl(224, 30%, 27%);
    }
    
    #score-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .score {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
    }
    
    .score h6 {
        align-self: center;
    }
    
    .score > div {
        display: flex;
        gap: 10px;
    }
    
    #reaction {
        background-color: hsl(0, 100%, 95%);
    }
    
    #memory {
        background-color: hsl(39, 85%, 95%);
    }
    
    #verbal {
        background-color: hsl(166, 100%, 95%);
    }
    
    #visual {
        background-color: hsl(234, 85%, 95%);
    }
    
    button {
        border-width: 0;
        border-radius: 10px;
        font-size: 13px;
        padding: 10px;
        background-color: hsl(224, 30%, 37%);
        color: hsl(0, 0%, 100%);
    }
    
    button:hover {
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    }
    
    #reaction h5 {
        color: hsl(0, 100%, 67%);
    }
    
    #memory h5 {
        color: hsl(39, 100%, 56%);
    }
    
    #verbal h5 {
        color: hsl(166, 100%, 37%);
    }
    
    #visual h5 {
        color: hsl(234, 85%, 45%);
    }
    
    h6 {
        font-size: 12px;
        color: hsl(224, 30%, 27%);
        font-weight: 800;
    }
    
    h6 span {
        margin-left: 7px;
        color: hsl(224, 10%, 50%);
    }
    /********************Footer Styling*****************/
    footer {
        text-align: center;
        padding: 10px;
    }
    
    footer p {
        font-size: 12px;
        font-weight: 500;
    }
    
    footer a {
        text-decoration: none;
        color: hsl(234, 85%, 45%);
    }
    
    /***************Media Query**********************/
    @media screen and (max-width: 620px) {
        #main-container {
            width: 90%;
        }
    }

    @media screen and (max-width: 600px) {
        #main-container {
            flex-direction: column;
            width: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        #result-container {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            width: 100%;
        }
    
        #summary-container {
            width: 100%;
        }
    
        main {
            align-items: unset;
        }
    
        .score {
            padding: 20px;
        }
    
        button {
            padding: 20px;
        }
    }